/* Tabs */

.transaction-nav ul {
  display: flex;
  gap: 16px;
  align-items: center;
}

.transaction-nav li {
  padding: 0 8px 2px;
  border-bottom: 2px solid #2f9e44;
  cursor: pointer;
}

main {
  padding: 0 16px 24px;
}

form div {
  padding-bottom: 8px;
  border-bottom: 1px solid #ced4da;
}

form input {
  font-size: 16px;
  padding: 8px 0;
  outline: none;
  border: none;
}

.transaction-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  color: #868e96;
}


.amount, .date, .category, .note {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  gap: 16px;
}

.btn {
  padding: 8px 4px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.btn-primary {
  background-color: #f08c00;
  color: #fff;
}

.btn-save {
  margin-top: 48px;
}